/* Ajuster la largeur et la position du TOC */
#TOC {
    max-width: 250px;  /* Ajuste la largeur du TOC */
    position: sticky;
    top: 100px;
    z-index: 10;
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 50px;
}

/* Ajuster la largeur du tableau pour éviter qu’il ne touche le TOC */
.content table {
    max-width: 90%; /* Réduire la largeur du tableau */
    margin-left: auto;
    margin-right: 50px;
    overflow-x: auto; /* Ajoute un défilement horizontal si nécessaire */
}





